*{
    margin: 0;
    color: #fff;
}
body{
    margin: 0;
    background-color: cornflowerblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: coral;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}
.button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: coral;
    box-shadow: 5px 5px 10px 3px rgb(185, 96, 63) ;
}
.button:active{
    background-color: rgb(219, 110, 70);
}
.button:focus{
    outline: none;
}
.large{
    grid-column: span 2;
}
.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 5px 5px #00000033;
}
#currentValue{
    font-size: 2.3em;
}
#previousValue{
    font-size: 1.5em;
}